[whrunner]
host=127.0.0.1
port=8080

[logging]
level=INFO

[github]
name=master
secret=github-auth-secret
url=git@github.com:dmelnichuk/fuzzy-lamp.git

[deploy]
base=~/django-backend
src=src
scripts=src
